body,td,div,.p,a{font-family:Verdana,Arial,Helvetica, sans-serif;font-size: 12px;line-height:1.3;color: #000000;}
body {background-color: #FFFFFF;}
.bodyr {background-color: #FFD9BF;margin: 0px;}
#iframekontakt {border:0px;width: 100%;}
A:hover {text-decoration: underline;color:#CC3333;}
a {text-decoration: none;}
table {border:0px;}
img{border:0px;}
h1 {font-size: 15px;font-weight: bold;margin:3px 0px 3px 3px;}
.nadpiskategorie {font-size: 12px;font-weight: bold;margin:0px;display: inline;}
form {margin-top: 0px; margin-bottom: 0px;}
.sirka {max-width:1500px;}
.menuleft {display:none;}
.listadvlevo {border-right: 0px dashed #bbbbbb; margin: 10px;}
.listadvpravo {display: none;}
.listah {display: none;}
iframe {display: none;}
.listahl {border-right: 1px dashed #dddddd; margin: 10px;}
.velikost10, .velikost10 a, .velikost10 A:hover {font-size: 11px;}
.rubriky, .rubriky A, .rubriky A:hover {word-spacing: 5px;COLOR: #ffffff;text-align: center;}
.rubrikyv {word-spacing: 0px;}
.nadpisnahlavni A, .nadpisnahlavni A:hover {font-size: 14px;color: #000000;font-weight: bold; line-height:20px;}
.inzeraty {padding:5px;border-top: 1px solid #dddddd;}
.inzeraty:hover {background-color: #FBF3E1;}
.listainzerat {background-color: #FFD9BF;padding:5px;border: 1px solid #C7A995;}
.inzerat {background-color: #FFFFFF;}
.barevne {background-color: #FFD9BF;border: 1px solid #E4C2AB;}
.cisla {background-color: #FFD9BF;border: 1px solid #E4C2AB; padding:4px; margin:-2px;}
.nadpis {display: inline;margin:0px;font-size: 12px;font-weight: bold;display:inline-block;word-wrap: break-word;}
.nadpis a {text-decoration: underline;}
.nadpis A:hover {text-decoration: none;}
.barvalmenu {background-color: #FFECBF;padding-left:1px;border: 1px solid #EBD9B0;}
.nadpismenu, .nadpismenu A, .nadpismenu A:hover {background-color: #FF6600;color: #ffffff;text-align: center;font-weight: bold;padding: 5px;border: 1px solid #BF4C00;}
.barvaleva A {DISPLAY: block;padding: 4px;line-height:1.2;}
.kniha a {font-size: 13px;}
.obrazekflithumb {border: 1px solid Black;max-height:100px; height:auto;max-width:115px;margin-bottom:5px;}
.ztop {COLOR: #FF0000;font-weight: bold;}
.ovse {COLOR: #C00029;}
#zvyraznenikat {COLOR: #CC3333;font-weight: bold;}
.strankovani{word-spacing: 4px;text-align: center;}
.drobky {padding:10px 1px 0px 15px;}
.cena {padding:0px 10px 0px 5px;}
.popis {padding-top:5px;word-wrap: break-word;}
.akce {font-size: 11px;color: #5D5D5D;visibility: hidden;margin-right:7px;}.vypis:hover .akce {visibility: visible;}
.ebanner {padding:0px 7px 5px 2px;}
.inputpridat {width: 350px;}
.textpridat {width: 350px;height: 110px;}
#vysledek {position:absolute;top:18px;left:-5px;margin: 0px;padding: 5px;width: 318px;}
#vysledekpsc {position:absolute;top:18px;left:-5px;margin: 0px;padding: 5px;width: 318px;}
.tablenas {width: 318px;background:#ffffff;text-align: left;word-spacing: 0px;color: #000000;font-weight: normal;cursor:pointer;margin: 0px;padding: 0px;border:1px solid #999;}
.tablenaspsc {width: 318px;background:#ffffff;text-align: left;word-spacing: 0px;color: #000000;font-weight: normal;cursor:pointer;margin: 0px;padding: 0px;border:1px solid #999;}
.vysokoli {position: relative;z-index:2;}
.vysokolipsc {position: relative;z-index:1;}
.act:hover {background-color: #FF6600;color:#ffffff;width:100%;}
.mobilskryt{display: none;}
.podobne{display: none;}
.kontaktniformular{display: none;}
.adgoogdetail{display: none;}
.imgv {max-width: 100%; height: auto;}
.gallerytxt {display: block;padding-left:4px;padding-right:4px;padding-top:2px;word-wrap: break-word;}
.galleryobal {width: 290px; height: 290px;display: inline-block; vertical-align: top; position: relative;margin:10px 10px 0px 0px;border: 1px solid #bbbbbb;}
.galleryobal:hover {background-color: #FBF3E1;}
.galleryobrazek {max-width: 290px; max-height: 217px;}
.gallerylokalita {text-align: right;}
.gallerylist {vertical-align: bottom;}
.gallerylista {vertical-align: bottom;border: 1px solid #C7A995;}
#overlay {display: none;}
#overlay div {background-color: #fff;border:1px solid #dddddd;padding:15px;}